USE [AXTDataLoad]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/08/2020 10:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AXTUpload]    Script Date: 20/08/2020 10:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AXTUpload](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientLastName] [nvarchar](500) NULL,
	[PatientFirstName] [nvarchar](500) NULL,
	[PatientID] [nvarchar](500) NULL,
	[PatientsBirthDate] [nvarchar](500) NULL,
	[PatientsSex] [nvarchar](500) NULL,
	[PatientComments] [nvarchar](500) NULL,
	[StudyDate] [nvarchar](500) NULL,
	[StudyTime] [nvarchar](500) NULL,
	[AccessionNumber] [nvarchar](500) NULL,
	[ReferringPhysiciansName] [nvarchar](500) NULL,
	[StudyID] [nvarchar](500) NULL,
	[StudyDescription] [nvarchar](500) NULL,
	[ReaderLastName] [nvarchar](500) NULL,
	[PrintedSignatureName] [nvarchar](500) NULL,
	[ReaderIDNumber] [nvarchar](500) NULL,
	[ReaderInitials] [nvarchar](500) NULL,
	[ReaderStreetAddress] [nvarchar](500) NULL,
	[ReaderCity] [nvarchar](500) NULL,
	[ReaderState] [nvarchar](500) NULL,
	[ReaderZipCode] [nvarchar](500) NULL,
	[FORM_NBR] [nvarchar](500) NULL,
	[XRAY_DATE] [nvarchar](500) NULL,
	[WORKER_SSN] [nvarchar](500) NULL,
	[ClientName] [nvarchar](500) NULL,
	[ClientStreetAddress] [nvarchar](500) NULL,
	[ClientCity] [nvarchar](500) NULL,
	[ClientState] [nvarchar](500) NULL,
	[ClientZipCode] [nvarchar](500) NULL,
	[ClientPhone] [nvarchar](500) NULL,
	[ClientOtherContactInfo] [nvarchar](500) NULL,
	[FACILITY_NBR] [nvarchar](500) NULL,
	[READ_TYPE] [nvarchar](500) NULL,
	[FILM_QUALITY] [nvarchar](500) NULL,
	[UNREAD_OVEREXPOSED] [nvarchar](500) NULL,
	[UNREAD_UNDEREXPOSED] [nvarchar](500) NULL,
	[UNREAD_ARTIFACTS] [nvarchar](500) NULL,
	[UNREAD_POSITION] [nvarchar](500) NULL,
	[UNREAD_CONTRAST] [nvarchar](500) NULL,
	[UNREAD_PROCESSING] [nvarchar](500) NULL,
	[UNREAD_UNDERINFLATION] [nvarchar](500) NULL,
	[UNREAD_MOTTLE] [nvarchar](500) NULL,
	[UNREAD_EDGE] [nvarchar](500) NULL,
	[UNREAD_OTHER] [nvarchar](500) NULL,
	[UNREAD_OTHER_COMMENT] [nvarchar](500) NULL,
	[Q2A] [nvarchar](500) NULL,
	[SMALL_OPAC_PRI_TYPE] [nvarchar](500) NULL,
	[SMALL_OPAC_SEC_TYPE] [nvarchar](500) NULL,
	[SMALL_OPAC_ZONE_UR] [nvarchar](500) NULL,
	[SMALL_OPAC_ZONE_UL] [nvarchar](500) NULL,
	[SMALL_OPAC_ZONE_MR] [nvarchar](500) NULL,
	[SMALL_OPAC_ZONE_ML] [nvarchar](500) NULL,
	[SMALL_OPAC_ZONE_LR] [nvarchar](500) NULL,
	[SMALL_OPAC_ZONE_LL] [nvarchar](500) NULL,
	[SMALL_OPAC_CATEGORY] [nvarchar](500) NULL,
	[LARGE_OPAC_STAGE] [nvarchar](500) NULL,
	[Q3A] [nvarchar](500) NULL,
	[PLEURAL_SITE_PROFILE] [nvarchar](500) NULL,
	[PLEURAL_SITE_FACE] [nvarchar](500) NULL,
	[PLEURAL_SITE_DIAPHRAGM] [nvarchar](500) NULL,
	[PLEURAL_SITE_OTHER] [nvarchar](500) NULL,
	[PLEURAL_CALC_PROFILE] [nvarchar](500) NULL,
	[PLEURAL_CALC_FACE] [nvarchar](500) NULL,
	[PLEURAL_CALC_DIAPHRAGM] [nvarchar](500) NULL,
	[PLEURAL_CALC_OTHER] [nvarchar](500) NULL,
	[PLEURAL_EXTENT_R] [nvarchar](500) NULL,
	[PLEURAL_EXTENT_R_123] [nvarchar](500) NULL,
	[PLEURAL_EXTENT_L] [nvarchar](500) NULL,
	[PLEURAL_EXTENT_L_123] [nvarchar](500) NULL,
	[PLEURAL_WIDTH_R] [nvarchar](500) NULL,
	[PLEURAL_WIDTH_R_ABC] [nvarchar](500) NULL,
	[PLEURAL_WIDTH_L] [nvarchar](500) NULL,
	[PLEURAL_WIDTH_L_ABC] [nvarchar](500) NULL,
	[Q3C] [nvarchar](500) NULL,
	[DIFFUSE_SITE_PROFILE] [nvarchar](500) NULL,
	[DIFFUSE_SITE_FACE] [nvarchar](500) NULL,
	[DIFFUSE_CALC_PROFILE] [nvarchar](500) NULL,
	[DIFFUSE_CALC_FACE] [nvarchar](500) NULL,
	[DIFFUSE_EXTENT_R] [nvarchar](500) NULL,
	[DIFFUSE_EXTENT_R_123] [nvarchar](500) NULL,
	[DIFFUSE_EXTENT_L] [nvarchar](500) NULL,
	[DIFFUSE_EXTENT_L_123] [nvarchar](500) NULL,
	[DIFFUSE_WIDTH_R] [nvarchar](500) NULL,
	[DIFFUSE_WIDTH_R_ABC] [nvarchar](500) NULL,
	[DIFFUSE_WIDTH_L] [nvarchar](500) NULL,
	[DIFFUSE_WIDTH_L_ABC] [nvarchar](500) NULL,
	[Q4A] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_AA] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_AT] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_AX] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_BU] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_CA] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_CG] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_CN] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_CO] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_CP] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_CV] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_DI] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_EF] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_EM] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_ES] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_FR] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_HI] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_HO] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_ID] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_IH] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_KL] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_ME] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_PA] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_PB] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_PI] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_PX] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_RA] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_RP] [nvarchar](500) NULL,
	[OTHER_SYMBOLS_TB] [nvarchar](500) NULL,
	[SEE_DR] [nvarchar](500) NULL,
	[DATE_DR_NOTIFIED] [nvarchar](500) NULL,
	[READ_DATE] [nvarchar](500) NULL,
	[OTHER_DISEASES] [nvarchar](500) NULL,
	[OTHER_DISEASES_EVENTRATION] [nvarchar](500) NULL,
	[OTHER_DISEASES_HIATAL_HERNIA] [nvarchar](500) NULL,
	[OTHER_DISEASES_BRONCHOVASCULAR] [nvarchar](500) NULL,
	[OTHER_DISEASES_HYPERINFLATION] [nvarchar](500) NULL,
	[OTHER_DISEASES_BONY_CHEST_CAGE] [nvarchar](500) NULL,
	[OTHER_DISEASES_FRACTURE_HEALED] [nvarchar](500) NULL,
	[OTHER_DISEASES_FRACTURE_NONHEALED] [nvarchar](500) NULL,
	[OTHER_DISEASES_SCOLIOSIS] [nvarchar](500) NULL,
	[OTHER_DISEASES_VERTEBRAL_COLUMN] [nvarchar](500) NULL,
	[OTHER_DISEASES_AZYGOS_LOBE] [nvarchar](500) NULL,
	[OTHER_DISEASES_LUNG_DENSITY] [nvarchar](500) NULL,
	[OTHER_DISEASES_INFILTRATE] [nvarchar](500) NULL,
	[OTHER_DISEASES_NODULAR_LESION] [nvarchar](500) NULL,
	[OTHER_DISEASES_FOREIGN_BODY] [nvarchar](500) NULL,
	[OTHER_DISEASES_POST_SURGICAL] [nvarchar](500) NULL,
	[OTHER_DISEASES_CYST] [nvarchar](500) NULL,
	[OTHER_DISEASES_AORTA_ANOMALY] [nvarchar](500) NULL,
	[OTHER_DISEASES_VASCULAR] [nvarchar](500) NULL,
	[OTHER_COMMENTS] [nvarchar](500) NULL,
	[Modality] [nvarchar](500) NULL,
	[SeriesNumber] [nvarchar](500) NULL,
	[Laterality] [nvarchar](500) NULL,
	[SeriesDate] [nvarchar](500) NULL,
	[SeriesTime] [nvarchar](500) NULL,
	[ProtocolName] [nvarchar](500) NULL,
	[SeriesDescription] [nvarchar](500) NULL,
	[BodyPartExamined] [nvarchar](500) NULL,
	[PatientPosition] [nvarchar](500) NULL,
	[PatientOrientation] [nvarchar](500) NULL,
	[InstanceNumber] [nvarchar](500) NULL,
	[ContentDate] [nvarchar](500) NULL,
	[ContentTime] [nvarchar](500) NULL,
	[AcquisitionNumber] [nvarchar](500) NULL,
	[ImageType] [nvarchar](500) NULL,
	[InstanceCreationDate] [nvarchar](500) NULL,
	[InstanceCreationTime] [nvarchar](500) NULL,
	[AcquisitionDate] [nvarchar](500) NULL,
	[AcquisitionTime] [nvarchar](500) NULL,
	[SamplesPerPixel] [nvarchar](500) NULL,
	[PhotometricInterpretation] [nvarchar](500) NULL,
	[Rows] [nvarchar](500) NULL,
	[Columns] [nvarchar](500) NULL,
	[PixelAspectRatio] [nvarchar](500) NULL,
	[BitsAllocated] [nvarchar](500) NULL,
	[BitsStored] [nvarchar](500) NULL,
	[HighBit] [nvarchar](500) NULL,
	[PixelRepresentation] [nvarchar](500) NULL,
	[WindowCenter] [nvarchar](500) NULL,
	[WindowWidth] [nvarchar](500) NULL,
	[StudyInstanceUID] [nvarchar](500) NULL,
	[SeriesInstanceUID] [nvarchar](500) NULL,
	[SOPInstanceUID] [nvarchar](500) NULL,
	[AETitle] [nvarchar](500) NULL,
	[AdjustedWindowWidth] [nvarchar](500) NULL,
	[AdjustedWindowCenter] [nvarchar](500) NULL,
	[MaxGrayscaleValue] [nvarchar](500) NULL,
	[AdjustedGamma] [nvarchar](500) NULL,
	[TimeStudyFirstOpened] [nvarchar](500) NULL,
	[TimeReportApproved] [nvarchar](500) NULL,
	[InstitutionName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
